.card-course {
  max-height: 200px;

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 1px solid #e9ecef;
  }

  .card:hover {
    transform: scale(0.95);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card-header {
    height: 140px; /* Đặt chiều cao cho hình ảnh */
    background-color: #f8f9fa; /* Màu nền mặc định */
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hình ảnh không bị méo */
  }

  .card-body {
    padding: 1rem 0.75rem;
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .card-subtitle {
    font-size: 0.85rem;
  }

  .card-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  button {
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #004085;
    color: #fff;
  }
}
